aiofiles
aiohttp~=3.9.4
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
requests
tgcrypto
unidecode
yt-dlp>=2025.01.01
youtube-search
youtube-search-python
httpx[http2]==0.27.2
wget
cryptography
search-engine-parser
numpy
pytube
ujson
pyrogram1==0.1.0
